{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block style %}

    <link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="content">
        <form method="post">
            <div class="form">
                <h1 class="h3 mb-3 font-weight-normal">Modifier votre mot de passe</h1>
                {{ form_start(pwd_form) }}

                <label for="lastName">Entrez votre mot de passe actuel</label>
                <div class="info description">   
                    {{ form_widget(pwd_form.old_password, {label: false}) }}
                </div>
                <label for="lastName">Nouveau mot de passe</label>
                <div class="info description">
                    {{ form_widget(pwd_form.new_password.first) }}
                </div>
                <label for="lastName">Confirmez votre nouveau mot de passe</label>
                <div class="info description">
                    {{ form_widget(pwd_form.new_password.second) }}
                </div>
                    
                {{ form_widget(pwd_form._token) }}
                <button type="submit" class="btn btn-lg btn-primary">Valider</button>
                {{ form_end(pwd_form, {'render_rest': false}) }}
            </div>
        </form>
    </div>

{% endblock %}
