{% extends 'base.html.twig' %}

{% block title %}Batiment - Nouveau{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/assets/css/management.css">
    <link rel="stylesheet" href="/assets/css/form.css">
    <link rel="stylesheet" href="/assets/css/dashboard_edit.css">
{% endblock %}

{% set page_title = 'SmartCampus - Management' %}

{% block body %}
<p class="route">
<a href='/liste_batiments'> Liste des bâtiments </a> >
</p>
    <div class="form">
        <h6>Ajouter un batiment</h6>
        {{ form_start(form) }}
            <div class="row">
                {{ form_label(form.name, 'Nom du bâtiment') }}
                {{ form_widget(form.name) }}
            </div>
            <div class="row">
                {{ form_label(form.sector, 'Composante') }}
                {{ form_widget(form.sector) }}
            </div>
            <button type="submit" class="submitBtn" onclick="this.classList.add('submitBtn--loading')">
                {{ form_rest(form) }}
                <a class="submitBtn__text">Valider</a>
            </button>
        {{ form_end(form) }}
    </div>

{% endblock %}
